
img{
    width: 200px;
    height: 200px;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee-content {
    display: inline-block;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    25% { transform: translateX(-100%);}
    50% { transform: translateX(100%);  }
    75% { transform: translateX(-100%);  }
    100% { transform: translateX(100%);  }
}
