.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ffbb00;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input::placeholder {
    color: #423315;
    opacity: 0.8;
  }
  
 input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #a8ff07;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(122, 102, 14, 0.25);
 }

 button{
  border: 5px solid #bb7d1f;
  border-radius: 10px;
  background-color: #ffbb00;
  color: aliceblue;
  font-weight: 600;
  padding: 20px;
  font-size: 24px;
 }