html, body{
    background-color: rgb(208, 197, 237);
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.main{
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.wrapper {
	position: relative;
	min-height: 100%;
}
.content {
	padding-bottom: 90px;
}

