.container{
    background-color: rgb(209, 195, 239);
    border: 5px solid rgb(89, 69, 132);
    border-radius: 15px;
    width: max-content;
    height: max-content;
}
.description{
    color: rgb(73, 43, 101);
    border-left: 10px solid rgb(44, 27, 54);
    padding: 20px;
}
.title{
    color: rgb(42, 18, 64);
}

.container, .block1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.block1{
    flex-direction: column;
    gap: 10px;
}
