.container{
    background-color: rgb(209, 195, 239);
    border: 5px solid rgb(89, 69, 132);
    border-radius: 5px;
    width: min-content;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.description{
    color: rgb(73, 43, 101);
    border-left: 2px solid rgb(44, 27, 54);
    padding: 20px;
}
.title{
    color: rgb(42, 18, 64);
}